{% extends 'usuarios/base.html' %}
{% block conteudo %}

    <div class="container">
        <h1>Usuários Cadastrados</h1>
        <table class="table table-bordered table-striped">
            <tr>
                <th>id</th>
                <th>nome</th>
                <th>idade</th>
            </tr>
            {% for usuario in usuarios %}
            <tr>
                <td>{{usuarios.id}}</td>
                <td>{{usuarios.nome}}</td>
                <td>{{usuarios.idade}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}